h1 Modul2
button(data-uilinkname="_UIButton1",data-uilinkevent="click",data-uilinkeventfunc="OnButton1Click") enter me an you seh my event
button(data-uilinkname="_UIButton2") Module2
input(data-uilinkname="_UITextBox1",data-uilinkevent="input",data-uilinkeventfunc="OnTextBox1")