h1 Modul1

button(data-uilinkname="_UIButton1",data-uilinkevent="click",data-uilinkeventfunc="OnButton1Click") ehh gloar

button(data-uilinkname="_UIButton2") nur event, keine func angabe

input(data-uilinkname="_UITextBox1",data-uilinkevent="input",data-uilinkeventfunc="OnTextBox1")