h1 Modul2
button(data-uilinkname="UIButton1",data-uilinkevent="click",data-uilinkeventfunc="OnButton1Click") enter me an you seh my event
button(data-uilinkname="UIButton2") Module2
input(data-uilinkname="UITextBox1",data-uilinkevent="input",data-uilinkeventfunc="OnTextBox1")